<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.mobileattendance">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileAttendance"
        android:usesCleartextTraffic="true">
        <activity android:name=".updateprofile_b"></activity>
        <activity android:name=".updateprofile_a" />
        <activity android:name=".updateprofile_c" />
        <activity android:name=".updatepassword_c" />
        <activity android:name=".updatepassword_b" />
        <activity android:name=".updatepassword_a" />
        <activity android:name=".employeeinfo_d" />
        <activity android:name=".employeeinfo_c" />
        <activity android:name=".employeeinfo_b" />
        <activity android:name=".employeeinfo_a" />
        <activity android:name=".delete_c" />
        <activity android:name=".delete_b" />
        <activity android:name=".delete_a" />
        <activity android:name=".uploadImage" />
        <activity android:name=".userUpdatePassword" />
        <activity android:name=".userUpdateProfile" />
        <activity android:name=".profile" />
        <activity android:name=".leave" />
        <activity android:name=".updatePassword" />
        <activity android:name=".deleteProfile" />
        <activity android:name=".updateProfile" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD4KfDcLVjVPatpIKtrPXot024Z4UHVZQ8" />

        <activity android:name=".attendanceInfo" />
        <activity android:name=".istirahat" />
        <activity android:name=".attendance" />
        <activity android:name=".employeeInfo" />
        <activity android:name=".addEmployee" />
        <activity android:name=".userHome" />
        <activity android:name=".adminHome" />
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>